<h1>Listing events</h1>
 
<%= link_to 'New Event', new_event_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @events.each do |event| %>
    <tr>
      <td><%= event.title %></td>
      <td><%= event.description %></td>
      <td><%= link_to 'Show', event_path(event) %></td>
      <% if event.user.id == current_user.id %>
        <td></td>

        
      <% end %>
    </tr>
  <% end %>
</table>

<ul class="list-group">
  <% @events.each do |event| %>
    <li class="list-group-item">
      <%= link_to event.title, event_path(event) %>
      <% if event.user.id == current_user.id %>
        <p class="pull-right">
          <%= link_to 'Edit', edit_event_path(event) %>
          <td><%= link_to 'Destroy', event_path(event),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></td>
        </p>
      <% end %>
    </li>
  <% end %>
</ul>