<p>
  <strong>Titel:</strong>
  <%= @event.title %>
</p>
 
<p>
  <strong>Beschreibung:</strong>
  <%= @event.description %>
</p>

<div class="row">
  <div class="col-md-5">
    <div class="row">
      <div class="col-md-12">
        <a id="call" href="#" class="btn btn-success"
          onclick="master(); return false;"><span
          class="glyphicon glyphicon-play"></span> Master </a> <a id="viewer"
          href="#" class="btn btn-primary"
          onclick="viewer(); return false;"><span
          class="glyphicon glyphicon-user"></span> Viewer</a> <a id="terminate"
          href="#" class="btn btn-danger" onclick="stop(); return false;"><span
          class="glyphicon glyphicon-stop"></span> Stop</a>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <div id="videoBig">
      <video id="video" autoplay width="640px" height="480px"
        poster="img/webrtc.png"></video>
    </div>
  </div>
  <br /> <label class="control-label" for="console">Console</label>
  <div id="console"></div>
</div>



<h2>Streams</h2>
<% @event.feeds.each do |feed| %>
  <p>
    <strong>Nutzername:</strong>
    <%= feed.user.email %>
  </p>
  <p>
  	<strong>Titel</strong>
  	<%= feed.title %>
  </p>
<% end %>

<h2>Streame selbst:</h2>
<%= form_for([@event, @event.feeds.build]) do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', events_path %>